<form method="post" action="/login">

  <div class="container">
    <label><b>Full Name</b></label>
    <input type="text" placeholder="Enter User Name" name="user[user_name]" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="user[hashed_password]" required>

    <button type="submit">Login</button>
  </div>

</form>
