.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

th {
  text-align: left;
}

h1 {
    background-color: #424447;
    color: lightgray;
    font-family: Tahoma;
    font-size: 30px;
    padding: 25px;
    position: relative;
    right: 20px;
    top: -20px;
    width: 1214px;
    border-bottom: 35px solid #972b51;
  }
  .link {
    position: relative;
    left: 25em;
    bottom: 1em;
    top: 10em;
    font-size: 150%;
    background-color: lightgray;
    border-radius: 5px;
  }
  .link1 {
    position: relative;
    left: 20em;
    bottom: 1em;
    top: 10em;
    font-size: 150%;
    background-color: lightgray;
    border-radius: 5px;
  }
  a:hover {
      color: black;
  }
  body {
     background-image: url("../images/main.png");
  }
