<form action="/users" method="post">

  <h1>Sign Up</h1>

    <label for="name">Name:</label>
    <br />
    <input type="text" id="name" name="user[name]">
    <br>
    <label for="mail">User Name:</label>
    <br>
    <input type="text" id="name" name="user[user_name]">
    <br>
    <label for="password">Password:</label>
    <br>
    <input type="password" id="password" name="user[hashed_password]">
    <br>
  <button type="submit">Sign Up</button>
</form>
