<main class='container'>
	<h2>Flashcards</h2>


	<strong>Decks:</strong>
	<div>
		<% @decks.each do |deck| %>
			<li><a href=<%="/users/#{@user.id}/decks/#{deck.id}"%>><%="#{deck.title} (#{deck.cards.length} Cards)"%></a></li>	
		<%end%>
	</div>

	<br>

		<div>
			<form action="/" method="get">
	            <input type="submit" value= "Sign Out" class="button">
	     	</form>
		</div>
</main>