<div class="container">
 <h1 style=" background-color:grey;">Flashcards</h1>
  <a style="border-radius: 3px; background-color: #008CBA;" href="/sessions/new">Login</a> <a style="border-radius: 3px; background-color: #008CBA;" href="/users/new">Register</a>
</div>
